@import url('https://fonts.googleapis.com/css?family=Lato%7CParisienne');

h1 {
  font-family: Parisienne;
  font-size: 2vw;
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 4px red,
               1px 1px 7px black;
}

#wrapper {
  display: flex;
  border: 1px solid black;
}

#sidebar {
  width: 20%;
  border: 2px solid black;
}

#canvasForm {

}