@import url('https://fonts.googleapis.com/css?family=Lato%7CParisienne');

h1 {
  font-family: Parisienne;
  font-size: 2vw;
  margin: 0;
  color: white;
  padding-left: 325px;
  text-shadow: 1px 1px 4px red,
               1px 1px 7px black;
}

#shapesMenu {
  width: 800px;
  height: 100px;
  border: 1px solid black;
}